<!DOCTYPE html>

<html>

<head>
    <base href="/">
    <link rel="stylesheet"  type="text/css" href="/css/styles.css">
</head>

<body>
    <h1>{{title}}</h1>
    <img src="/img/me.png">
    <p>Created by {{name}}</p>
</body>

</html>
